$basicLightbox__background: rgba(0, 0, 0, 0.8); // Background color
$basicLightbox__zIndex: 1000; // Stack order
$basicLightbox__duration: 0.4s; // Transition duration
$basicLightbox__timing: ease; // Transition timing

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
  &--visible {
    opacity: 1;
  }
  &__placeholder {
    max-width: 100%;
    transform: scale(0.9);
    transition: transform 0.4s ease;
    z-index: 1;
    will-change: transform;
    > iframe:first-child:last-child,
    > img:first-child:last-child,
    > video:first-child:last-child {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 95%;
      max-height: 95%;
    }
    > iframe:first-child:last-child,
    > video:first-child:last-child {
      pointer-events: auto;
    }
    > img:first-child:last-child,
    > video:first-child:last-child {
      width: auto;
      height: auto;
    }
  }
  &--iframe &__placeholder,
  &--img &__placeholder,
  &--video &__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &--visible &__placeholder {
    transform: scale(1);
  }
}
