.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    list-style: none;
    max-width: 500px;
    margin-bottom: 10px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.stats {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
